@keyframes flash-colors {
    0% {
        color: #133046;
    }
    20% {
        color: #15959F;
    }
    40% {
        color: #F1E4B3;
    }
    60% {
        color: #F4A090;
    }
    80% {
        color: #F26144;
    }
}
@keyframes bounce-it {
    0% {
        transform: scale(0.8, 0.8) rotate(12deg);
    }
    100% {
        transform: scale(1.3, 1.3) rotate(-4deg);
    }
}
@keyframes move-it {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
}
