$font-serif: "chaparral-pro", georgia, serif;
$font-sans: "myriad-pro", helvetica, sans-serif;
$font-header: "ff-mach-web-pro", helvetica, sans-serif;

$black: #111;
$white: #FFF;
$gray: #EFEFEF;
$light-gray: #FAFAFA;
$dark-gray: #666;
$blue: rgba(68, 120, 255, 0.5);

// Viewport settings
$-sm-min: 300px;
$-sm-max: 767px;
$-md-min: 768px;
$-md-max: 1067px;
$-lg-min: 1068px;
$-lg-max: 1280px;
$-xl-min: 1281px;
$-xl-max: 1440px;
